<script src="/lib/codemirror/js/codemirror.js"></script>
<script src="/lib/codemirror/mode/javascript/javascript.js"></script>

<h1>Beacons</h1>

<h2>Related beacons</h2>
<form>
  <label for="beacon_uuid">Beacon uuid: </label>
  <input type="text" id="beacon_uuid">
  <input type="button" onclick="query();" value="Submit">
</form>

<div id="osm_map"></div>
<br><br>

