<script src="/lib/codemirror/js/codemirror.js"></script>
<script src="/lib/codemirror/mode/javascript/javascript.js"></script>

<h1>Items administration</h1>
<h2>Item list editor</h2>
<form id="item_list">
  <textarea id="item_list_editor" rows="14" cols="50" border="1" style="resize: none;"></textarea><br>
  <button type="submit">Save</button>
</form>
<pre id="item_list_output"></pre>

<script type="text/javascript">
  // Cambiar editor de objetos 
  var editor_items  = CodeMirror.fromTextArea(document.getElementById("item_list_editor"), {
    matchBrackets: true,
    autoCloseBrackets: true,
    mode: "application/ld+json",
    lineWrapping: true,
    lineNumbers: true,
    smartIndent: true,
    tabSize: 2
  });

  editor_items.setValue( <%= file = File.open( Game::Mechanics::ItemsManagement::DATAFILE ).read.to_json %> );
  
  // Enviar al servidor lista de objetos
  $(document).ready(function(){
    $('#item_list').submit(function(evento){
      evento.preventDefault();

      var data;
      try {
        data = editor_items.getValue();
      }
      catch(error) {
        document.getElementById("item_list_output").innerHTML = "Error: " + error;
        document.getElementById("item_list_output").style.color = "red";
        
        return;
      }

      $.ajax({
        url: '/admin/items/edit_items',
        type: 'post',
        dataType: 'json',
        data: { data: data },
        success: function(datos){
          document.getElementById("item_list_output").innerHTML = "Ok."
          document.getElementById("item_list_output").style.color = "green";
        },
        error: function( jqXHR, textStatus, errorThrown ) {
          console.log(jqXHR);
          document.getElementById("item_list_output").innerHTML = "Error " + jqXHR.status + ": " + jqXHR.responseText;
          document.getElementById("item_list_output").style.color = "red";
        }
      });
    });
    
    
  });
</script>