<form method="post">
  <ul>
    <li>Mensaje:</li>  <input type="text"   name="mensaje" maxlenght="141"/>
    <li>URL:</li>  <input type="text"   name="url" maxlenght="141"/>
    <li>Fragmentos:</li> <input type="number"   name="url" maxlenght="141"/>
  </ul>
  <INPUT type="submit" value="Enviar">
</form>