<form method="post" action="/admin/enviar_mensaje_resultado">
  <label>ID de usuario<label>  <input placeholder="Use '1' por defecto" type="number" name="id_user" maxlenght="141"/><br>
  <label>Mensaje:</label>  <input type="text"   name="content" maxlenght="141"/><br>
  <label>URL recurso:</label>  <input type="text"   name="resource_link" maxlenght="141"/><br>
  <label>Fragmentos:</label> <input type="number"   name="total_fragments" maxlenght="141"/><br>
  <label>Latitudes y longitudes, separadas por comas y por saltos de línea.</label><br>
  <textarea style="width: 300px; height: 150px;" name="geoloc" placeholder="latitud1,longitud1
latitud2,longitud2
1.0,2.0"></textarea><br>

  <input type="submit" value="Enviar">
</form>

<script type="text/javascript">
  $("document").ready( function() {
    
  });
</script>
