<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Progrezz server test</title>
    <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  </head>
  <body>
    <% if defined? social_title %>
      <div class="title">
        <h1><%= social_title %></h1>
      </div>
      <% if (defined? session) && (session[:alias] == nil) %>
        <div class="menu">
          <ul>
            <li><a href="/auth/google_oauth2"><img src ="/img/social/googlep.png" width="100px" height="100px"></a>
            <li><a href="/auth/github"><img src ="/img/social/github.png"  width="100px" height="100px"></a>
          </ul>
        </div>
      <% elsif defined? session %>
        <div class="menu">
          <ul>
            <li class="text">Welcome, <strong><%= session[:alias] %></strong>
            <li class="text"> | <a href="/auth/logout">Log out</a>
          </ul>
        </div>
      <% end %>
    <% end %>
    
    <div class="content">
    <%= yield %>
    </div>
  </body>
</html>

