<form method="post">
  <ul>
    <li>Latitud:</li>  <input type="number" name="latitud"  min="-90" max="90" step="any"/>
    <li>Longitud:</li> <input type="number" name="longitud" min="0" max="180" step="any"/>
    <li>Mensaje:</li>  <input type="text"   name="mensaje" maxlenght="141"/>
  </ul>
  <INPUT type="submit" value="Enviar">
</form>