<h1>Lista de mensajes</h1>

<table border="1" width="80%" align="left">
  <tr>
     <th>ID</th>
     <th>Latitud (x)</th>
     <th>Longitud (y)</th>
     <th>Mensaje</th>
  </tr>
<% mensajes.each do |m| %>
   <tr>
     <td><%= m.id %></td>
     <td><%= m.latitud %></td>
     <td><%= m.longitud %></td>
     <td><%= m.mensaje %></td>
   </tr>
<% end %>
</table>