  <!-- HTML -->
<div class="left">
  <h2>REST Request:</h2>
  <hr>
  
  <form action="demo_form.asp" id="usrform">
    <textarea id="form_request_str" rows="30"  form="usrform" style="width: 90%; resize: none;"></textarea><br>
    <input type="button" value="Send request" onclick="send_form();" ><input type="button" value="Reset" onclick="reset_form();">
  </form>
</div>

<div class="right">
  <h2>Server response:</h2>
  <hr>
  <textarea id="output" rows="30" style="width: 90%; resize: none;" disabled></textarea>
</div>

  <!-- Javascript -->
<!-- Cliente de la API REST -->
<script type="text/javascript" src="/lib/client-api-rest/js/progrezz-api-rest.js" ></script>

<!-- Procesamiento local -->
<script type="text/javascript">
  rest_request = new RESTResquest()
  
  rest_request.onComplete = function(json_response) {
    document.getElementById("output").value = GenericUtils.html.escape (JSON.stringify(json_response, null, '  '))
  }
  rest_request.onError = function(xhr) { document.getElementById("output").innerHTML = "ERROR! " + JSON.stringify(xhr, null, '  ')
  }
  rest_request.onEnd = function(json_response) {
    console.log("end!")
  }

  function reset_form() {
    // Setup default text
    document.getElementById('form_request_str').value = JSON.stringify( RESTResquest.getTemplateRequest(), null, '  ' );
  }
  
  function send_form() {
    rest_request.request( JSON.parse( document.getElementById('form_request_str').value ) )
  }

  reset_form()
</script>