<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 1px;">
      <h3>About</h3>
    </div>
    <div class="panel-body">
      <p>You can contact us in the following manners:</p>
      <address>
        <strong>Email</strong><br>
        <a href="mailto:#">proyecto.progrezz@gmail.com</a>
      </address>
    </div>
  </div>

</div>