<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 1px;">
      <h3>Progrezz Developers Pages</h3>
    </div>
    <div class="panel-body">
      <p>Welcome to <strong>Progrezz Developers Page!</strong></p>
      <p>Here, you can test stuff about Progrezz projects.
      Feel free to navigate around the page and test whatever you want.</p>
      <ul>
        <li>Test the interactive REST client.</li>
        <li>Test the websocket api.</li>
      </ul>
    </div>
  </div>
</div>