<!-- HTML -->
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading" style="padding-top: 1px;">
      <h3>Interactive REST client</h3>
    </div>
  </div>
    
  <div class="row">
    <!-- Menú -->
    <% if defined? rest_methods %>
    <div class="col-md-2">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 1px;">
          <h3>Methods</h3>
        </div>
        <div class="panel-body">
          <div class="btn-group-vertical" style="width: 100%;" role="group" aria-label="Vertical button group">
            <% rest_methods.each do |methods| %>
            <div class="btn-group" role="group">
              <button id="btnGroupVerticalDrop1" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <%= methods[0] %> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="btnGroupVerticalDrop1">
                <% methods[1].each do |method| %>
                <li><a href="#"> <%= method["name"] %> </a></li>
                <% end %>
              </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    
    <!-- Request -->
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 1px;">
          <h3>REST Request</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
          <textarea id="form_request_str" class="form-control" rows="16" style="resize: none;"></textarea>
          </div>
          <button type="button" onclick="send_form();" class="btn btn-success">Send REST request</button>
        </div>
      </div>
    </div>
      
    <!-- Response -->
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding-top: 1px;">
          <h3>Server Response</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
          <textarea id="output" class="form-control" rows="16" style="resize: none;" readonly></textarea>
          </div>
          <div id="serverstatus" style="visibility: hidden;" class="alert alert-danger" role="alert">Error!</div>
        </div>
      </div>
    </div>
    
  </div>
</div>


  <!-- Javascript -->
<!-- Cliente de la API REST -->
<script type="text/javascript" src="/lib/client-api-rest/js/progrezz-api-rest.js" ></script>

<!-- Procesamiento local -->
<script type="text/javascript">
  rest_request = new RESTResquest()
  
  rest_request.onComplete = function(json_response) {
    document.getElementById("output").value = GenericUtils.html.escape (JSON.stringify(json_response, null, '  '))
  }
  rest_request.onError = function(xhr) {
    document.getElementById("output").innerHTML = "ERROR! " + JSON.stringify(xhr, null, '  ')
    document.getElementById("serverstatus").innerHTML = "Response error: " + xhr.statusText
    document.getElementById("serverstatus").style.visibility = "visible"
  }
  rest_request.onEnd = function(json_response) {
    console.log("end!")
  }

  function reset_form() {
    // Setup default text
    document.getElementById('form_request_str').value = JSON.stringify( RESTResquest.getTemplateRequest(), null, '  ' );
  }
  
  function send_form() {
   try {
     rest_request.request( JSON.parse( document.getElementById('form_request_str').value ) )
     document.getElementById("serverstatus").style.visibility = "hidden"
   }
   catch(err) {
     document.getElementById("serverstatus").innerHTML = "Parse error: " + err.message
     document.getElementById("serverstatus").style.visibility = "visible"
   }
  }

  reset_form()
</script>