<h1>Lista de usuarios</h1>

<table border="1" width="80%" align="left">
  <tr>
     <th>Alias</th>
     <th>Correo</th>
     <th>Geolocalización</th>
  </tr>
<% users.each do |user| %>
   <tr>
     <td><%= user.alias %></td>
     <td><%= user.user_id %></td>
     <td><%= user.geolocation.latitude.to_s + ", " + user.geolocation.longitude.to_s %></td>
   </tr>
<% end %>
</table>
